<?xml version="1.0"?>
<config>
    <modules>
        <Muvacon_Events>
            <version>1.1.1</version>
        </Muvacon_Events>
    </modules>
    <global>
		<cache>
            <backend>Zend_Cache_Backend_BlackHole</backend>
        </cache>
        <helpers>
            <muvacon_events>
                <class>Muvacon_Events_Helper</class>
            </muvacon_events>
        </helpers>
		<blocks>
            <events>
                <class>Muvacon_Events_Block</class> 
            </events>
        </blocks>
        <models>
            <events>
                <class>Muvacon_Events_Model</class>
                <resourceModel>events_mysql4</resourceModel>
            </events>
            <events_mysql4>
                <class>Muvacon_Events_Model_Mysql4</class>
                <entities>
                    <events>
                        <table>events</table>
                    </events>
                </entities>
            </events_mysql4>
        </models>
        <resources>
            <events_setup>
                <setup>
                    <module>Muvacon_Events</module>
                </setup>
                <connection>
                    <use>core_setup</use>
					</connection>
            </events_setup>
            <events_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </events_write>
            <events_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </events_read>
        </resources>
    </global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <events before="Mage_Adminhtml">Muvacon_Events_Adminhtml</events>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
		<translate>
            <modules>
                <events>
                    <files>
                        <default>Muvacon_Events.csv</default>
                    </files>
                </events>
            </modules>
        </translate>
        <layout>
            <updates>
                <events>
                    <file>events.xml</file>
                </events>
            </updates>
        </layout>
    </adminhtml>
	<frontend>
		<translate>
            <modules>
                <events>
                    <files>
                        <default>Muvacon_Events.csv</default>
                    </files>
                </events>
            </modules>
        </translate>
		<routers>
			<events>
				<use>standard</use>
				<args>
					<module>Muvacon_Events</module>
					<frontName>events.html</frontName> 
				</args>
			</events>
		</routers>
		<layout>
			<updates>
				<events>                     
					<file>events.xml</file>
				</events>
			</updates>
		</layout>   
	</frontend>
</config>