<?xml version="1.0"?>
<config>
    <modules>
        <Muvacon_Translate>
            <version>1.0</version>
        </Muvacon_Translate>
    </modules>
    <global>
		<cache>
            <backend>Zend_Cache_Backend_BlackHole</backend>
        </cache>
        <helpers>
            <muvacon_translate>
                <class>Muvacon_Translate_Helper</class>
            </muvacon_translate>
        </helpers>
		<blocks>
            <translate>
                <class>Muvacon_Translate_Block</class> 
            </translate>
        </blocks>
    </global>
	<adminhtml>
		<translate>
            <modules>
                <translate>
                    <files>
                        <default>Muvacon_Translate.csv</default>
                    </files>
                </translate>
            </modules>
        </translate>
        <layout>
            <updates>
                <translate>
                    <file>translate.xml</file>
                </translate>
            </updates>
        </layout>
    </adminhtml>
	<frontend>
		<translate>
            <modules>
                <translate>
                    <files>
                        <default>Muvacon_Translate.csv</default>
                    </files>
                </translate>
            </modules>
        </translate>
		<routers>
			<translate>
				<use>standard</use>
				<args>
					<module>Muvacon_Translate</module>
					<frontName>translate.html</frontName> 
				</args>
			</translate>
		</routers>
		<layout>
			<updates>
				<translate>                     
					<file>translate.xml</file>
				</translate>
			</updates>
		</layout>   
	</frontend>
</config>