<?xml version="1.0"?>
<config>
  <modules>
    <Muvacon_CartCount>
      <version>0.1.0</version>
    </Muvacon_CartCount>
  </modules>
  <frontend>
    <routers>
      <cartcount>
        <use>standard</use>
          <args>
            <module>Muvacon_CartCount</module>
            <frontName>cartcount</frontName>
          </args>
      </cartcount>
    </routers>
		<layout>
		  <updates>
			<cartcount>
			  <file>cartcount.xml</file>
			</cartcount>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <cartcount>
        <class>Muvacon_CartCount_Helper</class>
      </cartcount>
    </helpers>
	<blocks>
	  <cartcount>
		<class>Muvacon_CartCount_Block</class>
	  </cartcount>
	</blocks>
  </global>
</config> 