<?xml version="1.0"?>
<config>
    <modules>
        <Kathir_ProductInfo>
            <version>1.0</version>
        </Kathir_ProductInfo>
    </modules>
    <global>
		<cache>
            <backend>Zend_Cache_Backend_BlackHole</backend>
        </cache>
        <helpers>
            <kathir_productInfo>
                <class>Kathir_ProductInfo_Helper</class>
            </kathir_productInfo>
        </helpers>
		<blocks>
            <productInfo>
                <class>Kathir_ProductInfo_Block</class> 
            </productInfo>
        </blocks>
        <models>
            <productInfo>
                <class>Kathir_ProductInfo_Model</class>
                <resourceModel>productInfo_mysql4</resourceModel>
            </productInfo>
            <productInfo_mysql4>
                <class>Kathir_ProductInfo_Model_Mysql4</class>
                <entities>
                    <productInfo>
                        <table>productInfo</table>
                    </productInfo>
                </entities>
            </productInfo_mysql4>
        </models>
        <resources>
            <productInfo_setup>
                <setup>
                    <module>Kathir_ProductInfo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
					</connection>
            </productInfo_setup>
            <productInfo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productInfo_write>
            <productInfo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productInfo_read>
        </resources>
    </global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <productInfo before="Mage_Adminhtml">Kathir_ProductInfo_Adminhtml</productInfo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
		<translate>
            <modules>
                <productInfo>
                    <files>
                        <default>Kathir_ProductInfo.csv</default>
                    </files>
                </productInfo>
            </modules>
        </translate>
    </adminhtml>
	<frontend>
		<translate>
            <modules>
                <productInfo>
                    <files>
                        <default>Kathir_ProductInfo.csv</default>
                    </files>
                </productInfo>
            </modules>
        </translate>
		<routers>
			<productInfo>
				<use>standard</use>
				<args>
					<module>Kathir_ProductInfo</module>
					<frontName>productInfo</frontName> 
				</args>
			</productInfo>
		</routers>
		<layout>
			<updates>
				<productInfo>                     
					<file>productInfo.xml</file>
				</productInfo>
			</updates>
		</layout>   
	</frontend>
</config>