<?xml version="1.0"?>
<config>
    <modules>
        <Muvacon_Testimonials>
            <version>1.0</version>
        </Muvacon_Testimonials>
    </modules>
    <global>
		<cache>
            <backend>Zend_Cache_Backend_BlackHole</backend>
        </cache>
        <helpers>
            <muvacon_testimonials>
                <class>Muvacon_Testimonials_Helper</class>
            </muvacon_testimonials>
        </helpers>
		<blocks>
            <testimonials>
                <class>Muvacon_Testimonials_Block</class> 
            </testimonials>
        </blocks>
        <models>
            <testimonials>
                <class>Muvacon_Testimonials_Model</class>
                <resourceModel>testimonials_mysql4</resourceModel>
            </testimonials>
            <testimonials_mysql4>
                <class>Muvacon_Testimonials_Model_Mysql4</class>
                <entities>
                    <testimonials>
                        <table>testimonials</table>
                    </testimonials>
                </entities>
            </testimonials_mysql4>
        </models>
        <resources>
            <testimonials_setup>
                <setup>
                    <module>Muvacon_Testimonials</module>
                </setup>
                <connection>
                    <use>core_setup</use>
					</connection>
            </testimonials_setup>
            <testimonials_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </testimonials_write>
            <testimonials_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </testimonials_read>
        </resources>
    </global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <testimonials before="Mage_Adminhtml">Muvacon_Testimonials_Adminhtml</testimonials>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
		<translate>
            <modules>
                <testimonials>
                    <files>
                        <default>Muvacon_Testimonials.csv</default>
                    </files>
                </testimonials>
            </modules>
        </translate>
        <layout>
            <updates>
                <testimonials>
                    <file>testimonials.xml</file>
                </testimonials>
            </updates>
        </layout>
    </adminhtml>
	<frontend>
		<translate>
            <modules>
                <testimonials>
                    <files>
                        <default>Muvacon_Testimonials.csv</default>
                    </files>
                </testimonials>
            </modules>
        </translate>
		<routers>
			<testimonials>
				<use>standard</use>
				<args>
					<module>Muvacon_Testimonials</module>
					<frontName>testimonials.html</frontName> 
				</args>
			</testimonials>
		</routers>
		<layout>
			<updates>
				<testimonials>                     
					<file>testimonials.xml</file>
				</testimonials>
			</updates>
		</layout>   
	</frontend>
</config>