<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Muvacon_Search>
            <version>1.0.0</version>
        </Muvacon_Search>
    </modules>
    <global>
        <blocks>
            <muvacon_search>
                <class>Muvacon_Search_Block</class>
            </muvacon_search>
        </blocks>
        <helpers>
            <muvacon_search>
                <class>Muvacon_Search_Helper</class>
            </muvacon_search>
        </helpers>
        <models>
            <muvacon_search>
                <class>Muvacon_Search_Model</class>
            </muvacon_search>
        </models>
        <events>
            <muvacon_search_product_collection_init>
                <observers>
                    <muvacon_search>
                        <class>muvacon_search/observer</class>
                        <method>onProductCollectionInit</method>
                    </muvacon_search>
                </observers>
            </muvacon_search_product_collection_init>
        </events>
    </global>
	<adminhtml>
		<events>
			<core_block_abstract_prepare_layout_before>
				<observers>
					<muvacon_search>
						<class>muvacon_search/observer</class>
						<method>addButton</method>
					</muvacon_search>
				</observers>
			</core_block_abstract_prepare_layout_before>
		</events>
	</adminhtml>
	<admin>
        <routers>
            <muvacon_search>
                <use>admin</use>
                <args>
                    <module>Muvacon_Search</module>
                    <frontName>search</frontName>
                </args>
            </muvacon_search>
        </routers>
	</admin>
    <frontend>
        <routers>
            <muvacon_search>
                <use>standard</use>
                <args>
                    <module>Muvacon_Search</module>
                    <frontName>search</frontName>
                </args>
            </muvacon_search>
        </routers>
        <layout>
            <updates>
                <muvacon_search>
                    <file>muvacon/search.xml</file>
                </muvacon_search>
            </updates>
        </layout>
        <translate>
            <modules>
                <Muvacon_Search>
                    <files>
                        <default>Muvacon_Search.csv</default>
                    </files>
                </Muvacon_Search>
            </modules>
        </translate>
    </frontend>
    <default>
        <muvacon_search>
            <general>
                <enable>1</enable>
                <limit>5</limit>
                <min_length>1</min_length>
                <cache_lifetime>86400</cache_lifetime>
                <use_local_storage>1</use_local_storage>
                <enable_jquery>1</enable_jquery>
            </general>
        </muvacon_search>
    </default>
</config>