<?xml version="1.0"?>
<config>
    <modules>
        <Muvacon_Partners>
            <version>1.0</version>
        </Muvacon_Partners>
    </modules>
    <global>
		<cache>
            <backend>Zend_Cache_Backend_BlackHole</backend>
        </cache>
        <helpers>
            <muvacon_partners>
                <class>Muvacon_Partners_Helper</class>
            </muvacon_partners>
        </helpers>
		<blocks>
            <partners>
                <class>Muvacon_Partners_Block</class> 
            </partners>
        </blocks>
        <models>
            <partners>
                <class>Muvacon_Partners_Model</class>
                <resourceModel>partners_mysql4</resourceModel>
            </partners>
            <partners_mysql4>
                <class>Muvacon_Partners_Model_Mysql4</class>
                <entities>
                    <partners>
                        <table>partners</table>
                    </partners>
					<partnersImage>
                        <table>partnersimage</table>
                    </partnersImage>
                </entities>
            </partners_mysql4>
        </models>
        <resources>
            <partners_setup>
                <setup>
                    <module>Muvacon_Partners</module>
                </setup>
                <connection>
                    <use>core_setup</use>
					</connection>
            </partners_setup>
            <partners_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </partners_write>
            <partners_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </partners_read>
        </resources>
    </global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <partners before="Mage_Adminhtml">Muvacon_Partners_Adminhtml</partners>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
		<translate>
            <modules>
                <partners>
                    <files>
                        <default>Muvacon_Partners.csv</default>
                    </files>
                </partners>
            </modules>
        </translate>
        <layout>
            <updates>
                <partners>
                    <file>partners.xml</file>
                </partners>
            </updates>
        </layout>
    </adminhtml>
	<frontend>
		<translate>
            <modules>
                <partners>
                    <files>
                        <default>Muvacon_Partners.csv</default>
                    </files>
                </partners>
            </modules>
        </translate>
		<routers>
			<partners>
				<use>standard</use>
				<args>
					<module>Muvacon_Partners</module>
					<frontName>partners.html</frontName> 
				</args>
			</partners>
		</routers>
		<layout>
			<updates>
				<partners>                     
					<file>partners.xml</file>
				</partners>
			</updates>
		</layout>   
	</frontend>
</config>