<?xml version="1.0"?>
<config>
  <modules>
    <Muvacon_CustomSearch>
      <version>0.1.0</version>
    </Muvacon_CustomSearch>
  </modules>
  <frontend>
    <routers>
      <customsearch>
        <use>standard</use>
          <args>
            <module>Muvacon_CustomSearch</module>
            <frontName>customsearch</frontName>
          </args>
      </customsearch>
    </routers>
		<layout>
		  <updates>
			<customsearch>
			  <file>customsearch.xml</file>
			</customsearch>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <customsearch>
        <class>Muvacon_CustomSearch_Helper</class>
      </customsearch>
    </helpers>
	<blocks>
	  <customsearch>
		<class>Muvacon_CustomSearch_Block</class>
	  </customsearch>
	</blocks>
  </global>
</config> 